@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

.darkmode {
  --backgroundBody: rgb(17, 17, 17);
  --textColor: rgb(240,240,240);
  --white: #fff;
  --black: #000;
  --accent: #d53a9d;
  --accentDark: #be1881;
  --accentLight: #d76db0;
  --textMuted: #8a9196;
  --textSecondary: rgb(190, 190, 190);
  --cardBG: rgb(34, 34, 34);
  --white-opaque: rgba(255,255,255,0.5);
  --white-opaque2x: rgba(255,255,255,0.25);
  --white-opaque4x: rgba(255,255,255,0.125);
  --black-opaque: rgba(0,0,0,0.5);
  --black-opaque2x: rgba(0,0,0,0.25);
  --black-opaque4x: rgba(0,0,0,0.125);
  --fontHeading: 'Roboto Mono', 'Consolas';
}

:root {
  --backgroundBody: rgb(255,255,255);
  --textColor: rgb(14,14,14);
  --white: #000;
  --black: #fff;
  --white-opaque: rgba(0,0,0,0.5);
  --white-opaque2x: rgba(0,0,0,0.25);
  --white-opaque4x: rgba(0,0,0,0.125);
  --black-opaque: rgba(255,255,255,0.5);
  --black-opaque2x: rgba(255,255,255,0.25);
  --black-opaque4x: rgba(255,255,255,0.125);
  --accent: #d53a9d;
  --accentDark: #be1881;
  --accentLight: #d76db0;
  --textMuted: #727a7f;
  --textSecondary: rgb(56,56,56);
  --cardBG: rgb(240, 240, 240);
  --fontHeading: 'Roboto Mono', 'Consolas';
}

body {
  margin: 0;
  font-family: 'Roboto Mono', 'Consolas', 'Segoe UI', sans-serif,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('./img/backdrop.jpg');
  background-size: cover;
  background-attachment: fixed; */
  background: var(--backgroundBody);
  color: var(--textColor);
}
/* .backdrop-overlay {
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 100em white;
  min-height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accentDark);
  text-decoration: underline;
}

p {
  word-spacing: 0.03rem;
}

.ml-100 {
  margin-left: 6em;
}

.accent-background {
  background: var(--accent);
  color: #fff;
}
.text-sm {
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.text-m {
  font-size: 1.1rem;
}

.text-muted {
  color:var(--textMuted) !important;
}

.text-secondary {
  color:var(--textSecondary) !important;
}

.close {
  font-size: 2rem;
}

.decimal-list {
  list-style-type: decimal;
  margin:0;
  padding:0;
}

.display-art {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
  max-height:50vh;
  object-fit: cover;
  object-position:top;
}

.hover-underline:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 1.5rem;
}

.m-t-15 {
  margin-top: 1.5rem;
}

.heading {
  color: var(--white);
  font-size: 1.5rem;
  font-family: var(--fontHeading);
  margin-bottom: 1.5em;
}

.b-accent-border {
  /* border-bottom: 0.1rem #673ab7 solid; */
  padding-bottom: 0.1rem;
}

.b {
  font-weight: bold;
}

/*
******* Buttons
*/

.btn-floating {
  border-radius:50%;
  position: fixed;
  bottom:1.5em;
  right:10em;
  display: none;
  background-image: linear-gradient(45deg,#d53a9d, #743ad5,  #3ab6d5);
  background-clip: padding-box;
  color:white;
  transition: back;
  z-index: 1;
  width:3rem;
  height:3rem;
}

.btn-floating:before {
  background-image: linear-gradient(225deg,#d53a9d, rgb(116, 58, 213),  #3ab6d5);
  border-radius: inherit;
  opacity: 0;content: '';    
  display: block;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 1s;
}

.btn-floating:hover {
  color:white;
}

.btn-floating:focus {
  box-shadow: none;
  outline:2px solid rgba(116, 58, 213,.7);
  outline-offset: 3px;
}

.btn-floating:hover:before {
  opacity: 1;
}

.btn-outline-light {
  color: var(--textSecondary);
  margin-bottom: 4px;
  font-weight: bold;
  border-radius:50rem;
  border:none;
  background: var(--white-opaque2x);
}

.btn-outline-light i {
  font-weight: 400;
}

.btn-outline-light:hover {
  background: linear-gradient(to right,#d53a9d, #743ad5);
  color: var(--black);
}

.btn-outline-light:focus {
  outline: 2px solid var(--textSecondary);
  outline-offset: 3px;
  box-shadow:none;
}

.btn-accent {
  background:transparent;
  color:var(--white);
  border-radius:0px;
  border:0px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding:0;
  font-size: 1.05rem;
  font-weight: 500;
}

.btn-accent:focus {
  outline: 2px solid var(--textSecondary);
  outline-offset: 3px;
  box-shadow:none;
}

.btn-accent:hover {
  color:var(--white);
}

/*
******* Squiggly Line
*/

.squiggle {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAQCAYAAABz9a1kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAIPSURBVEhLtZVPSBRhGIdnk6yQyMIQUotaAuniScIgsYRNJbBOBR2EIAiCrmGB6MWDeBSEDql4MKgu/gldFARvdRE6Be1FKcGgg0V12np+7zg7Mx8zi5v5wMPOb1j2e+d9v282k8vlPnqe9xU3cAXncBsPmsPYjTexWYX80d0Iv/AFDuA33TgA7uAwXrAEh3Y/oxzDR/gBr+nGf+QITuJLLBUhkgoJOIOLeNfS/qnBt9hnyUGFnMIW1Ch2MEo1TuNtS/+O9sNrvG4pzipezeiKfaIPkUVt2HOWQn5jO763VDnj+NC/jDGC/fl8vuiOpoCduGUp5Ci+wXpLlfEAk4p4jk+wqJC0R1SMRqEuRGlCFaNx7ZUrOOZfxtA4dCBKVGkstMbLZjWVEp/xC/ZaCjmLdbhgqTwNqDGfsBSyidoL37VuoaDnphAVoCCdYtZRG/mypZBW1PvlnaVkanEJL1oK+Yk38JOC1gvW1wtN96wrkU0bUIXz2GUpRHO9j1OW4pxEdazNUohenPdwRmu52KlJY7cwdWUNLyk46GiPov4e9D0V3I+N6PIMh90HDnKpIyKlK0LzXsZmS5UziEP+pb9OQLBeakcSCtImfYUdlvbGD3yME5YiuA8d64go0xWhPaMffooqLA3tIR11jakQ7UCAu0ZiIQFlCjqOt7AHz+Np1EnSkdc7Yhb9cxkh/SE97y8nu4W9Ry6d/gAAAABJRU5ErkJggg==');
  background-position: center;
  background-size: contain;
  height:8px;
  background-repeat: repeat-x;
}

/*
******* HEADER
*/

.th-toggle {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-content: end;
}

.darkmode-toggle {
  background-color: var(--white-opaque4x);
  display: inline-block;
  border-radius: 50px;
  width: 2.8em;
  height: 1.8em;
  font-size: 0.8rem;
  line-height: 1.8rem;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(var(--rgb-light-accent-darkened), 0.2);
          box-shadow: 0 0 0.5rem 0.1rem rgba(var(--rgb-light-accent-darkened), 0.2);
  border: 0.1rem solid rgba(var(--rgb-grey), 0.3);
  cursor: pointer;
}

.darkmode-toggle button {
  width: 1.55em;
  height: 1.55em;
  border: none;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border-radius: 50px;
  padding: 0;
  position: absolute;
  margin: 0 0.1em;
  top: 0.1em;
  left: 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.darkmode-toggle button .fa-moon {
  display: none;
}
.darkmode-toggle button .fa-sun {
  display: block;
}

.darkmode-toggle .enabled {
  left: .825rem;
  background-color: var(--accentLight);
}

.darkmode-toggle .enabled .fa-moon {
  display: block;
}
.darkmode-toggle .enabled .fa-sun {
  display: none;
}

.darkmode-toggle:hover button {
  background-color: var(--accentLight);
}

.header {
  border-top:0.2rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right,#d53a9d, #743ad5,  #3ab6d5);
}

.navbar-background {
  border-bottom: 1px solid var(--white-opaque4x);
  margin-bottom: 2em;
  padding:0.25rem 0;
}

.navbar {
  padding:.5em 0;
}

.nav-item {
  font-size:1rem;
  margin-right:0.75em;
}

.nav-link {
  color:var(--textSecondary) !important;
  padding: .25em .85em !important;
}

.nav-link:hover {
  background:var(--white-opaque4x) !important;
  border-radius: 2px;
  color:var(--white) !important;
}

.img-profile {
    border: 0.5rem rgba(0, 0, 0, 0.2) solid;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.hello {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.statement {
  font-size: 2.5rem;
  line-height: 3rem;
}

.name-author {
  color: #fff;
  font-family: var(--fontHeading);
  font-weight: 500;
  font-size: 3.5rem;
  background: linear-gradient(225deg,#d53a9d, #3ab6d5, #8543f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -2px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top:1rem;
}

.header-description {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  color: var(--textSecondary);
  line-height: 1.8rem;
}

.cl {
  font-size: 0.9rem;
  padding: 0.65rem;
  margin-right: 1em;
}

.cl:hover {
  background: var(--white-opaque2x);
  border-radius: .2em;
}

.cl-git,
.cl-git:hover {
  color: var(--white);
}

.cl-linkedin,
.cl-linkedin:hover {
  color: #00a6ff;
}

.cl-twitter,
.cl-twitter:hover {
  color: #0084b4;
}

.cl-email,
.cl-email:hover {
  color: #fe4c38;
}

.cl-medium,
.cl-medium:hover {
  color: #ffffff;
}


/*
******* CARD
*/

/* .m-card {
  padding: 0.8rem 1rem;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 6px;
  background: #fff;
  margin-bottom: 1rem;
} */

.m-card {
  border-radius: 4px;
  background: var(--cardBG);
  margin-bottom: 1.5em;
  border:1px rgba(255,255,255,0.08) solid;
}

.m-card-body {
  padding: 0.8rem 1rem;
}

.m-card-title {
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-family: var(--fontHeading);
  color: var(--textColor);
  padding-bottom: 0.3rem;
}

.m-card-title a {
  color:var(--textColor);
}

.m-card-title a:hover {
  color:var(--white);
}

.m-card-title a i {
  font-size:0.7rem;
  color:var(--textMuted);
  vertical-align: middle;
}

.m-card-subtitle {
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.m-card-subtitle a {
  color:var(--textMuted);
}

.m-card-subtitle a i {
  font-size:0.7rem;
  color:var(--textMuted);
  vertical-align: middle;
}

.m-card-description {
  color:var(--textSecondary);
  line-height: 1.4rem;
}

.card-img-top {
  height: 160px;
  object-fit: cover;
  object-position: top;
}


.workfinishdate {
  position: absolute;
  left: 0em;
  color: var(--accentLight);
  padding-top: 1em;
  font-size: 0.85em;
  font-weight: 500;
}

.workfinishdate:before {
  position: absolute;
  content: '';
  background: var(--accentLight);
  border-radius: 10em;
  width: 1em;
  height: 1em;
  left: 5.5em;
  top: 1.25em;
  background: linear-gradient(to right,#d53a9d, #743ad5);
}

.work-card {
  position: relative;
}

.work-card:before {
  content: '';
  border-left: .1rem solid #A43AB9;
  position: absolute;
  height: 95%;
  top: 2.3em;
  left: -1em;
}

/*
******* FOOTER
*/

.footer {
  margin-bottom: 2rem;
}

/* Animations */

.fade-in-0 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 10s;
}

.fade-in-1 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.fade-in-2 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
.fade-in-3 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.25s;
}
.fade-in-4 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 2rem;
  }
}

.container {
  max-width: 1000px;
}

@media only screen and (max-width: 1500px) {
  .btn-floating {
    right:2em;
  }
}

/* col-lg */
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 800px;
  }

  .statement {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .quick-about {
    font-size: 1.15rem;
  }

  .hello {
    line-height: 1.5rem;
    font-weight: 500;
  }

  .btn-floating {
    right:3em;
  }
}

/* col-md */
@media only screen and (max-width: 992px) {
  .container {
    max-width: 800px;
  }

  .statement {
    font-size: 2.5rem;
  }

  .name-author {
    font-size: 1.5em;
    display: inline-block;
    line-height: 1.2em;
  }

  .title {
    font-size: 1.3rem;
  }

  .quick-about {
    font-size: 1rem;
  }

  .btn-floating {
    right:1em;
  }
}

@media only screen and (max-width: 768px) {
  /* mobile display */
  
  .nav-item {
    font-size: 0.95rem;
  }

  .nav-link {
    padding: .25em .4em !important;
  }

  .heading {
    font-size:1.3rem;
  }

  body {
    font-size: 15px;
  }

  .m-card-title {
    font-size: 1.08rem;
  }

  .statement {
    font-size: 1.7rem;
    line-height:2rem;
    margin-bottom: 0.5rem;
    line-height: 2.5rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .quick-about {
    font-size: 1rem;
  }

  .img-profile {
    display:none;
  }

  .hello {
    margin-top: 0;
    font-size:1.1rem;
    font-weight: 400;
  }
  
  .work-card:before {
    top: 2.3em;
    left: -1.32em;
  }

  .workfinishdate:before {
    left: 5.15em;
  }

  .btn-floating {
    right:.5em;
    bottom:.5em;
  }
}
