.blog-content * {
	@apply font-sans;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
	@apply font-serif mb-4 lg:mb-6 mt-12 text-gray-950 dark:text-white relative antialiased tracking-normal;
}
.blog-content h1 {
	@apply mb-6 lg:mb-8 mt-14 text-4xl lg:text-5xl font-black leading-[3rem] lg:leading-[4rem];
}
.blog-content h2 {
	@apply mb-5 lg:mb-7 mt-12 text-3xl lg:text-4xl font-black leading-[2.75rem] lg:leading-[3rem];
}
.blog-content h3 {
	@apply mb-4 lg:mb-6 mt-11 text-2xl lg:text-3xl leading-[2.25rem] lg:leading-[2.5rem];
}
.blog-content h4 {
	@apply text-xl lg:text-2xl leading-[2rem];
}
.blog-content h5 {
	@apply text-lg lg:text-xl leading-[1.9rem] text-gray-800 dark:text-gray-100;
}
.blog-content h6 {
	@apply text-base;
	@apply leading-6 sm:leading-7 md:leading-8 lg:leading-9 text-gray-800 dark:text-gray-100;
}
/* headings link */
.blog-content a .icon-link {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjQ4Ij48cGF0aCBkPSJNNDQzLjc4MiA3OTAuMTMxSDI4MHEtODkuMjggMC0xNTEuNzA2LTYyLjQxMy02Mi40MjUtNjIuNDEyLTYyLjQyNS0xNTEuNTQ2IDAtODkuMTM0IDYyLjQyNS0xNTIuMDAxUTE5MC43MiAzNjEuMzA0IDI4MCAzNjEuMzA0aDE2My43ODJ2NzkuNzgzaC0xNjMuNTRxLTU2LjczOCAwLTk1Ljk0NyAzOS4wNjktMzkuMjA4IDM5LjA2OS0zOS4yMDggOTUuNjA5IDAgNTYuNTM5IDM5LjIwOCA5NS44NDQgMzkuMjA5IDM5LjMwNCA5NS45NDcgMzkuMzA0aDE2My41NHY3OS4yMThabS0xMjguMzkxLTE4MC43NHYtNjYuNzgyaDMyOS4yMTh2NjYuNzgySDMxNS4zOTFabTIwMC44MjcgMTgwLjc0di03OS4yMThoMTYzLjU0cTU2LjczOCAwIDk1Ljk0Ny0zOS4wNjkgMzkuMjA4LTM5LjA2OSAzOS4yMDgtOTUuNjA5IDAtNTYuNTM5LTM5LjIwOC05NS44NDQtMzkuMjA5LTM5LjMwNC05NS45NDctMzkuMzA0aC0xNjMuNTR2LTc5Ljc4M0g2ODBxODkuMDk5IDAgMTUxLjg5OCA2Mi44MjMgNjIuNzk4IDYyLjgyMyA2Mi43OTggMTUxLjk1NyAwIDg5LjEzNC02Mi43OTggMTUxLjU5UTc2OS4wOTkgNzkwLjEzMSA2ODAgNzkwLjEzMUg1MTYuMjE4WiIvPjwvc3ZnPg==);
	background-size: contain;
	@apply dark:invert-[0.25] invert-[0.75] hover:invert-[0.5] dark:hover:invert-[0.65] w-5 h-5 md:w-7 md:h-7 -rotate-45 inline-block ml-3 align-middle;
}
.blog-content h1 a::before,
.blog-content h2 a::before,
.blog-content h3 a::before,
.blog-content h4 a::before,
.blog-content h5 a::before,
.blog-content h6 a::before,
.blog-content h1 a:hover::before,
.blog-content h2 a:hover::before,
.blog-content h3 a:hover::before,
.blog-content h4 a:hover::before,
.blog-content h5 a:hover::before,
.blog-content h6 a:hover::before {
	background: transparent;
}
.blog-content h1 a,
.blog-content h2 a,
.blog-content h3 a,
.blog-content h4 a,
.blog-content h5 a,
.blog-content h6 a {
	@apply md:opacity-0 inline-flex;
}

.blog-content h1:hover a,
.blog-content h2:hover a,
.blog-content h3:hover a,
.blog-content h4:hover a,
.blog-content h5:hover a,
.blog-content h6:hover a {
	@apply opacity-100;
}

.blog-content hr {
	@apply dark:invert my-16;
}

.blog-content p {
	@apply text-[1rem] sm:text-[1.05rem] md:text-[1.125rem] lg:text-[1.15rem] antialiased;
	@apply leading-7 md:leading-8 lg:leading-8;
	@apply my-6 md:my-7 text-gray-950 dark:text-gray-200;
}

.blog-content li {
	@apply text-base md:text-[1.05rem] lg:text-[1.1rem] antialiased;
	@apply leading-6 md:leading-7 lg:leading-8;
	@apply pl-4 my-1.5 ml-5 lg:my-2 text-gray-950 dark:text-gray-200;
}
.blog-content li::marker {
	@apply dark:text-gray-400 text-gray-500;
}

.blog-content ol li {
	@apply list-decimal;
}
.blog-content ol li ol li {
	list-style-type: lower-alpha;
}
.blog-content ul li {
	@apply list-disc;
}
.blog-content ul li ul li {
	list-style-type: circle;
}

.blog-content ul.contains-task-list li {
	@apply list-none ml-0 pl-0;
}
.blog-content ul.contains-task-list li input[type="checkbox"] {
	@apply mr-5;
}

.blog-content ol + pre,
.blog-content ul + pre {
	@apply ml-8 mt-3 mb-5;
}

.blog-content blockquote {
	@apply bg-skeal-50 dark:bg-skeal-300/10 border border-skeal-400/60 dark:border-skeal-200/10 rounded pl-3 pr-4 my-8;
}
.blog-content blockquote p {
	@apply text-[0.95rem] sm:text-[1rem] md:text-[1.025rem] lg:text-[1.05rem];
	@apply leading-6 sm:leading-6 md:leading-7;
	@apply relative pl-9;
}
.blog-content blockquote p:first-child,
.blog-content blockquote p:last-child {
	@apply my-2;
}
.blog-content blockquote p:first-child::before {
	content: "";
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgOTYgOTYwIDk2MCIgd2lkdGg9IjQ4Ij48cGF0aCBkPSJNNDQyIDc4N2g4MlY1MzZoLTgydjI1MVptMzguMDctMzEwcTIwLjQzIDAgMzQuMTgtMTMuNTEzUTUyOCA0NDkuOTc1IDUyOCA0MzBxMC0yMS45NS0xMy43OTUtMzUuNDc1UTUwMC40MSAzODEgNDgwLjAxOCAzODFxLTIxLjUxOCAwLTM0Ljc2OCAxMy41MjVUNDMyIDQyOS41cTAgMjAuNiAxMy44MiAzNC4wNVE0NTkuNjQgNDc3IDQ4MC4wNyA0NzdabS4zMzQgNTI0cS04OC44NzIgMC0xNjYuMTI1LTMzLjA4NC03Ny4yNTQtMzMuMDgzLTEzNS4xODMtOTEuMDEyLTU3LjkyOS01Ny45MjktOTEuMDEyLTEzNS4xMTlRNTUgNjY0LjU5NCA1NSA1NzUuNjM4cTAtODguOTU3IDMzLjA4NC0xNjYuMjg1IDMzLjA4My03Ny4zMjggOTAuODU1LTEzNC44MDkgNTcuNzcyLTU3LjQ4MiAxMzUuMDM2LTkxLjAxM1EzOTEuMjM4IDE1MCA0ODAuMjc5IDE1MHE4OS4wNCAwIDE2Ni40ODYgMzMuNDU0IDc3LjQ0NiAzMy40NTMgMTM0Ljg1MyA5MC44MDIgNTcuNDA3IDU3LjM0OSA5MC44OTUgMTM0Ljg3N1E5MDYgNDg2LjY2IDkwNiA1NzUuNzM0cTAgODkuMDEtMzMuNTMxIDE2Ni4yNDctMzMuNTMxIDc3LjIzNy05MS4wMTMgMTM0Ljg2LTU3LjQ4MSA1Ny42MjMtMTM0LjgzMSA5MC44OTFRNTY5LjI3NiAxMDAxIDQ4MC40MDQgMTAwMVoiLz48L3N2Zz4=);
	background-size: contain;
	filter: invert(46%) sepia(100%) saturate(2137%) hue-rotate(162deg) brightness(100%)
		contrast(90%);
	@apply top-0.5 left-0 absolute w-7 h-7 opacity-50;
}

.blog-content code {
	@apply text-[0.925rem] sm:text-[0.95rem] md:text-[0.95rem] lg:text-[0.95rem] inline-block;
	@apply text-gray-900 dark:text-purpear-100 border dark:border-gray-900;
	@apply bg-black/5 opacity-90 inline-block dark:bg-white/5 font-mono px-1.5 rounded text-sm lg:text-base;
}
pre {
	@apply rounded-md;
}
pre {
	overflow: auto;
	@apply !bg-gray-400/10 border dark:border-gray-900;
}
.blog-content pre code {
	counter-reset: line;
	@apply font-mono font-normal border-0 bg-transparent dark:bg-transparent py-0 px-0 relative w-full;
}
.blog-content p strong {
	@apply font-medium tracking-[0.0125rem];
}
.blog-content pre code * {
	@apply text-[0.9rem] sm:text-[0.925rem] md:text-[0.95rem];
	@apply font-mono;
}
.blog-content .code-line {
	@apply block px-3;
}
.blog-content .code-line:before {
	counter-increment: line;
	content: counter(line);
	@apply text-gray-400 bg-black/5 dark:bg-white/5 px-3 py-0.5 inline-block min-w-[3rem] dark:text-gray-500 text-[0.85rem] text-right mr-4 -ml-3 leading-6 tracking-tighter;
}
.blog-content .code-line:before:last-child {
	@apply pb-2;
}
.blog-content .code-line:before:first-child {
	@apply pt-2;
}
.blog-content p:has(codemeta) {
	@apply my-0 border border-b-0 bg-gray-100 dark:bg-white/10 dark:border-gray-900 rounded-t-md px-12 py-px;
}
.blog-content codemeta {
	@apply text-gray-500 dark:text-gray-500 font-mono select-none italic text-sm;
}
.blog-content p:has(codemeta) + pre {
	@apply rounded-t-none;
}

.blog-content sup a,
.blog-content sup a::before,
.blog-content sup a::after {
	@apply text-skeal-500 dark:text-skeal-300 hover:text-skeal-500 text-[0.8rem] hover:dark:text-skeal-300;
}
.blog-content sup a::before {
	content: "[";
	@apply relative bg-transparent h-auto bottom-0;
}
.blog-content sup a:hover::before {
	background: transparent;
	@apply relative h-auto;
}
.blog-content sup a::after {
	content: "]";
	vertical-align: baseline;
	@apply relative bg-transparent h-auto leading-normal;
}

.blog-content img {
	@apply my-10 text-sm;
}

.blog-content table {
	@apply border-b border-gray-200/50 dark:border-gray-700/70 w-full;
}
.blog-content tr th {
	@apply dark:border-gray-700/80 px-4 py-2 border-b-2 text-sm;
}
.blog-content td {
	@apply px-4 py-2 text-[95%];
}
.blog-content tr:nth-child(even) {
	@apply dark:border-white/10 border-black/10 border-b;
}
.blog-content tr:nth-child(odd) {
	@apply dark:border-white/10 border-black/10 border-b;
}

.blog-content nav.toc {
	@apply border dark:border-gray-800 border-gray-100 rounded py-2 px-3 bg-gray-50 dark:bg-gray-900/50;
}
.blog-content .toc-item {
	@apply text-[0.95rem] sm:text-[0.975rem] md:text-base lg:text-lg;
	@apply my-2;
}
.blog-content .toc-link {
	@apply inline-flex;
}
.blog-content .toc-link::before {
	@apply -bottom-[.0125rem];
}
.blog-content .toc-link:hover::before {
	@apply -bottom-[.125rem];
}
