@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	@apply bg-white text-gray-950 font-mono text-[0.95rem] md:text-[0.975rem] lg:text-base;
	margin: 0;
	font-display: block;
}

.dark {
	@apply bg-gray-1000 text-gray-300;
}

body * {
	@apply transition-colors duration-200;
}

* {
	@apply text-gray-800 dark:text-gray-100;
	font-display: block;
}

a {
	@apply text-cerise-600 no-underline relative inline-block;
	@apply hover:text-cerise-800 hover:underline hover:underline-offset-4;
}
.dark a {
	@apply text-cerise-300 hover:text-cerise-400;
}
.text-content a {
	@apply text-black hover:text-black hover:no-underline;
}
.dark .text-content a {
	@apply text-gray-100 hover:text-white;
}
.text-content a::after {
	content: "";
	background: rgb(164 164 164 / 0.3);
	@apply w-full absolute bottom-[0.175rem] left-0 rounded-full h-[0.225rem]
    transition-all;
}
.text-content a:hover::after {
	background: linear-gradient(to right, #d53a9d, #743ad5);
	@apply bottom-[0.075rem] transition-all;
}

.container {
	@apply max-w-[93%] md:max-w-[94%] lg:max-w-[100ch];
}

.select-none {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* Headings */
h1 {
	@apply text-3xl lg:text-5xl font-bold leading-[2.5rem] lg:leading-[4rem];
}
h2 {
	@apply text-2xl lg:text-4xl font-bold leading-[2rem] lg:leading-[3.5rem] tracking-tight;
}
h3 {
	@apply text-xl lg:text-3xl font-bold leading-[1.825rem] lg:leading-[2.5rem] tracking-tight;
}
h4 {
	@apply text-lg lg:text-2xl font-bold leading-[1.75rem] lg:leading-[2.25rem] tracking-tight;
}
h5 {
	@apply text-base lg:text-xl font-bold leading-[1.5rem] lg:leading-[2rem] tracking-tight;
}
p {
	@apply leading-7 lg:leading-8;
}

.text-stroke {
	-webkit-text-stroke: 1.5px rgba(100, 100, 100, 0.6);
	user-select: none;
}

/* Buttons */
.btn-outline-light {
	@apply bg-gray-200/60 dark:bg-gray-900;
	@apply text-black dark:text-white;
	@apply px-4 py-2 rounded-full font-bold hover:no-underline
    duration-0 inline-block leading-4 select-none;
	@apply outline outline-1 outline-gray-300/60 dark:outline-gray-700;
}
.btn-outline-light > * {
	@apply text-black dark:text-white;
}

.btn-outline-light span {
	@apply duration-0;
}
.btn-outline-light:hover span {
	@apply text-white duration-0;
}
.btn-outline-light:hover .ic-md,
.btn-outline-light:hover .ic,
.btn-outline-light:focus .ic-md,
.btn-outline-light:focus .ic {
	@apply invert;
}
.btn-outline-light:hover {
	@apply shadow-cerise-600/50 shadow-lg !text-white outline-transparent;
	background: linear-gradient(to right, #d53a9d, #743ad5);
}
.btn-outline-light:focus {
	@apply text-white outline-4 outline-purpear-400/40 dark:outline-purple-500/40;
	background: linear-gradient(to right, #d53a9d, #743ad5);
}
.btn-outline-light:focus > * {
	@apply text-white;
}

/*
******* logo
*/
.logo-svg {
	@apply transition-transform;
}
.logo-svg:hover {
	@apply scale-105;
}
.logo-svg:hover path:nth-child(1) {
	animation: anim-logo1 2s cubic-bezier(0.71, 0.13, 0.9, 0.07) infinite;
}
.logo-svg:hover path:nth-child(2) {
	animation: anim-logo2 2s cubic-bezier(0.71, 0.13, 0.9, 0.07) infinite;
}
.logo-svg:hover path:nth-child(3) {
	animation: anim-logo3 2s cubic-bezier(0.71, 0.13, 0.9, 0.07) infinite;
}
@keyframes anim-logo1 {
	0%,
	100% {
		fill: #21c9f3;
	}
	33% {
		fill: #d53a9d;
	}
	66% {
		fill: #743ad5;
	}
}
@keyframes anim-logo2 {
	0%,
	100% {
		fill: #743ad5;
	}
	33% {
		fill: #21c9f3;
	}
	66% {
		fill: #d53a9d;
	}
}
@keyframes anim-logo3 {
	0%,
	100% {
		fill: #d53a9d;
	}
	33% {
		fill: #743ad5;
	}
	66% {
		fill: #21c9f3;
	}
}

/*
******* Squiggly Line
*/
.squiggle {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAQCAYAAABz9a1kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAIPSURBVEhLtZVPSBRhGIdnk6yQyMIQUotaAuniScIgsYRNJbBOBR2EIAiCrmGB6MWDeBSEDql4MKgu/gldFARvdRE6Be1FKcGgg0V12np+7zg7Mx8zi5v5wMPOb1j2e+d9v282k8vlPnqe9xU3cAXncBsPmsPYjTexWYX80d0Iv/AFDuA33TgA7uAwXrAEh3Y/oxzDR/gBr+nGf+QITuJLLBUhkgoJOIOLeNfS/qnBt9hnyUGFnMIW1Ch2MEo1TuNtS/+O9sNrvG4pzipezeiKfaIPkUVt2HOWQn5jO763VDnj+NC/jDGC/fl8vuiOpoCduGUp5Ci+wXpLlfEAk4p4jk+wqJC0R1SMRqEuRGlCFaNx7ZUrOOZfxtA4dCBKVGkstMbLZjWVEp/xC/ZaCjmLdbhgqTwNqDGfsBSyidoL37VuoaDnphAVoCCdYtZRG/mypZBW1PvlnaVkanEJL1oK+Yk38JOC1gvW1wtN96wrkU0bUIXz2GUpRHO9j1OW4pxEdazNUohenPdwRmu52KlJY7cwdWUNLyk46GiPov4e9D0V3I+N6PIMh90HDnKpIyKlK0LzXsZmS5UziEP+pb9OQLBeakcSCtImfYUdlvbGD3yME5YiuA8d64go0xWhPaMffooqLA3tIR11jakQ7UCAu0ZiIQFlCjqOt7AHz+Np1EnSkdc7Yhb9cxkh/SE97y8nu4W9Ry6d/gAAAABJRU5ErkJggg==");
	background-position: center;
	background-size: contain;
	height: 8px;
	background-repeat: repeat-x;
	@apply invert dark:invert-0;
}

/* Theme Toggler */
.th-toggle {
	@apply w-full grid place-content-end;
}
.darkmode-toggle {
	background: linear-gradient(
		135deg,
		rgba(93, 199, 225, 0.7) 30%,
		rgba(255, 222, 30, 0.7)
	);
	@apply inline-block rounded-full w-12 h-7 text-sm relative
    cursor-pointer transition-all scale-90 md:scale-100;
}
.dark .darkmode-toggle {
	background: linear-gradient(
		225deg,
		rgba(58, 182, 213, 0.3) 30%,
		rgba(116, 58, 213, 0.4)
	);
}
.dark .darkmode-toggle button {
	@apply left-[1.5rem];
}
.darkmode-toggle button {
	@apply bg-white;
	@apply w-[1.35rem] h-[1.35rem] rounded-full absolute p-0 border-none top-[0.2rem] shadow-sm
    left-[0.175rem] pl-[0.175rem] transition-all ease-out duration-300 pointer-events-auto;
}
.darkmode-toggle button .ic-moon,
.dark .darkmode-toggle button .ic-sun {
	@apply absolute left-[0.175rem] top-[0.175rem];
	@apply scale-0 opacity-0 transition-all duration-300;
}
.darkmode-toggle button .ic-sun,
.dark .darkmode-toggle button .ic-moon {
	@apply absolute left-[0.175rem] top-[0.175rem];
	@apply scale-100 opacity-100 transition-all duration-300;
}
.dark .darkmode-toggle button {
	background: #d53a9d;
	@apply left-[1.5rem];
}
.dark .darkmode-toggle button:hover {
	@apply bg-cerise-500;
}

/* Page Progress */

.page-progress {
	/* background: linear-gradient(to right, #e39600, #d53a9d, #743ad5, #3ab6d5); */
	background: linear-gradient(to right, #d53a9d, #d53a9d);
	@apply top-0 left-0 right-0 h-1 fixed z-10 bg-no-repeat transition-all duration-200;
}

/* Navbar */
.navbar-section {
	border-top: 0.25rem solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #e39600, #d53a9d, #743ad5, #3ab6d5);
	@apply w-full z-40;
}
.navbar-background {
	@apply border-black/10 bg-white/70;
	@apply dark:border-white/10 dark:bg-gray-1000/80;
	@apply py-1 border-b backdrop-blur-[8px];
}
.nav-link {
	@apply hover:bg-gray-100 text-gray-700 hover:text-black;
	@apply dark:text-gray-200 dark:hover:text-white dark:hover:bg-gray-900;
	@apply text-[0.95rem] md:text-[1rem];
	@apply py-1 lg:py-1.5 px-2 lg:px-3 rounded mr-2.5 lg:mr-4 no-underline hover:no-underline
    tracking-tight font-medium border border-transparent;
}
.nav-link[aria-current="true"]:nth-child(1) {
	@apply bg-cerise-100 dark:bg-cerise-600/10;
	@apply dark:text-cerise-300 text-cerise-700;
	@apply hover:border-cerise-500/60 hover:border;
}
.nav-link[aria-current="true"]:nth-child(2) {
	@apply bg-purpear-200 dark:bg-purpear-600/20;
	@apply dark:text-purpear-200 text-purpear-900;
	@apply hover:border-purpear-700/80 hover:border;
}
.nav-link[aria-current="true"]:nth-child(3) {
	@apply bg-skeal-100 dark:bg-skeal-600/20;
	@apply dark:text-skeal-200 text-skeal-600;
	@apply hover:border-skeal-600/60 hover:border;
}

/* Footer */
.footer-section {
	background: linear-gradient(
		to right,
		rgba(227, 150, 0, 0.1),
		rgba(213, 58, 157, 0.1),
		rgba(116, 58, 213, 0.1),
		rgba(58, 182, 213, 0.1)
	);
	@apply relative pt-10;
}
.footer-section::before {
	content: "";
	@apply h-24 w-full absolute top-0 bg-gradient-to-b from-white to-transparent dark:from-gray-1000 dark:to-transparent;
}

/* Projects Section */
.text-project-description p {
	@apply my-6;
}
