@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-white text-gray-950;
	margin: 0;
	font-family: "Roboto Mono", "Consolas", "Segoe UI", sans-serif;
	font-size: 16px;
	font-display: block;
}

.dark {
	@apply bg-gray-950 text-gray-300;
}

body * {
	@apply transition-colors duration-200;
}

* {
	@apply text-gray-800 dark:text-gray-100;
}

.font-mono {
	font-family: "Roboto Mono", "Consolas", "Courier New", monospace;
	font-display: block;
}

.font-sans {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
	@apply text-cerise-600 no-underline relative inline-block;
	@apply hover:text-cerise-800;
}
.dark a {
	@apply text-cerise-300 hover:text-cerise-400;
}
.text-content a {
	@apply text-black hover:text-black;
}
.dark .text-content a {
	@apply text-gray-100 hover:text-white;
}
.text-content a::after {
	content: "";
	background: rgb(164 164 164 / 0.3);
	@apply w-full absolute bottom-[0.175rem] left-0 rounded-full h-[0.225rem]
    transition-all;
}
.text-content a:hover::after {
	background: linear-gradient(to right, #d53a9d, #743ad5);
	@apply bottom-[0.075rem] transition-all;
}

.container {
	@apply max-w-[100ch];
}

.select-none {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* Headings */
h1 {
	@apply text-5xl font-bold leading-[4rem];
}
h2 {
	@apply text-4xl font-bold leading-[3.5rem] tracking-tight;
}
h3 {
	@apply text-3xl font-bold leading-[2.5rem] tracking-tight;
}

/* Buttons */
.btn-outline-light {
	@apply bg-gray-200/60 dark:bg-gray-900;
	@apply text-gray-950 dark:text-white;
	@apply px-4 py-2 rounded-full font-bold hover:no-underline
    duration-0 inline-block leading-4 select-none;
}

.btn-outline-light span {
	@apply duration-0;
}
.btn-outline-light:hover span {
	@apply text-white duration-0;
}
.btn-outline-light:hover .ic-md,
.btn-outline-light:hover .ic {
	@apply invert;
}
.btn-outline-light:hover {
	@apply shadow-cerise-600/50 shadow-lg;
	background: linear-gradient(to right, #d53a9d, #743ad5);
}
.btn-outline-light:focus {
	outline: 2px solid var(--textSecondary);
	outline-offset: 3px;
	box-shadow: none;
}
.btn-accent {
	background: transparent;
	color: var(--white);
	border-radius: 0px;
	border: 0px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 0;
	font-size: 1.05rem;
	font-weight: 500;
}
.btn-accent:focus {
	outline: 2px solid var(--textSecondary);
	outline-offset: 3px;
	box-shadow: none;
}
.btn-accent:hover {
	color: var(--white);
}

/*
******* logo
*/
.logo-svg {
	@apply transition-transform;
}
.logo-svg:hover {
	@apply scale-105;
}
.logo-svg:hover path:nth-child(1) {
	animation: anim-logo1 2s cubic-bezier(0.71, 0.13, 0.9, 0.07) infinite;
}
.logo-svg:hover path:nth-child(2) {
	animation: anim-logo2 2s cubic-bezier(0.71, 0.13, 0.9, 0.07) infinite;
}
.logo-svg:hover path:nth-child(3) {
	animation: anim-logo3 2s cubic-bezier(0.71, 0.13, 0.9, 0.07) infinite;
}
@keyframes anim-logo1 {
	0%,
	100% {
		fill: #21c9f3;
	}
	33% {
		fill: #d53a9d;
	}
	66% {
		fill: #743ad5;
	}
}
@keyframes anim-logo2 {
	0%,
	100% {
		fill: #743ad5;
	}
	33% {
		fill: #21c9f3;
	}
	66% {
		fill: #d53a9d;
	}
}
@keyframes anim-logo3 {
	0%,
	100% {
		fill: #d53a9d;
	}
	33% {
		fill: #743ad5;
	}
	66% {
		fill: #21c9f3;
	}
}

/*
******* Squiggly Line
*/
.squiggle {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAQCAYAAABz9a1kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAIPSURBVEhLtZVPSBRhGIdnk6yQyMIQUotaAuniScIgsYRNJbBOBR2EIAiCrmGB6MWDeBSEDql4MKgu/gldFARvdRE6Be1FKcGgg0V12np+7zg7Mx8zi5v5wMPOb1j2e+d9v282k8vlPnqe9xU3cAXncBsPmsPYjTexWYX80d0Iv/AFDuA33TgA7uAwXrAEh3Y/oxzDR/gBr+nGf+QITuJLLBUhkgoJOIOLeNfS/qnBt9hnyUGFnMIW1Ch2MEo1TuNtS/+O9sNrvG4pzipezeiKfaIPkUVt2HOWQn5jO763VDnj+NC/jDGC/fl8vuiOpoCduGUp5Ci+wXpLlfEAk4p4jk+wqJC0R1SMRqEuRGlCFaNx7ZUrOOZfxtA4dCBKVGkstMbLZjWVEp/xC/ZaCjmLdbhgqTwNqDGfsBSyidoL37VuoaDnphAVoCCdYtZRG/mypZBW1PvlnaVkanEJL1oK+Yk38JOC1gvW1wtN96wrkU0bUIXz2GUpRHO9j1OW4pxEdazNUohenPdwRmu52KlJY7cwdWUNLyk46GiPov4e9D0V3I+N6PIMh90HDnKpIyKlK0LzXsZmS5UziEP+pb9OQLBeakcSCtImfYUdlvbGD3yME5YiuA8d64go0xWhPaMffooqLA3tIR11jakQ7UCAu0ZiIQFlCjqOt7AHz+Np1EnSkdc7Yhb9cxkh/SE97y8nu4W9Ry6d/gAAAABJRU5ErkJggg==");
	background-position: center;
	background-size: contain;
	height: 8px;
	background-repeat: repeat-x;
}

/* Theme Toggler */
.th-toggle {
	@apply w-full grid place-content-end;
}
.darkmode-toggle {
	background: linear-gradient(
		135deg,
		rgba(93, 199, 225, 0.7) 30%,
		rgba(255, 222, 30, 0.7)
	);
	@apply inline-block rounded-full w-12 h-7 text-sm relative
   cursor-pointer transition-all;
}
.dark .darkmode-toggle {
	background: linear-gradient(
		225deg,
		rgba(58, 182, 213, 0.3) 30%,
		rgba(116, 58, 213, 0.4)
	);
}
.darkmode-toggle button {
	@apply bg-white;
	@apply w-[1.35rem] h-[1.35rem] rounded-full absolute p-0 border-none top-[0.2rem] shadow-sm
    left-[0.175rem] pl-[0.175rem] transition-all ease-out duration-300 pointer-events-auto;
}
.darkmode-toggle button .ic-moon,
.darkmode-toggle .enabled .ic-sun {
	@apply absolute left-[0.175rem] top-[0.175rem];
	@apply scale-0 opacity-0 transition-all duration-300;
}
.darkmode-toggle button .ic-sun,
.darkmode-toggle .enabled .ic-moon {
	@apply absolute left-[0.175rem] top-[0.175rem];
	@apply scale-100 opacity-100 transition-all duration-300;
}
.darkmode-toggle .enabled {
	background: #d53a9d;
	@apply left-[1.5rem];
}
.darkmode-toggle .enabled:hover {
	@apply bg-cerise-500;
}

/* Navbar */
.navbar-section {
	border-top: 0.25rem solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to right, #e39600, #d53a9d, #743ad5, #3ab6d5);
	@apply fixed w-full z-40;
}
.navbar-background {
	@apply border-black/10 bg-white/70;
	@apply dark:border-white/10 dark:bg-gray-950/80;
	@apply py-1 border-b backdrop-blur-[25px];
}
.nav-link {
	@apply hover:bg-gray-100 text-gray-700 hover:text-black;
	@apply dark:text-gray-200 dark:hover:text-white dark:hover:bg-gray-900;
	@apply py-1.5 px-3 rounded mr-4 no-underline hover:no-underline
    tracking-tight font-medium text-[0.975rem] border border-transparent;
}
.nav-link[aria-current="true"]:nth-child(1) {
	@apply bg-cerise-100 dark:bg-cerise-600/10;
	@apply dark:text-cerise-300 text-cerise-700;
	@apply hover:border-cerise-500/60 hover:border;
}
.nav-link[aria-current="true"]:nth-child(2) {
	@apply bg-purpear-200 dark:bg-purpear-600/20;
	@apply dark:text-purpear-200 text-purpear-900;
	@apply hover:border-purpear-700/80 hover:border;
}
.nav-link[aria-current="true"]:nth-child(3) {
	@apply bg-skeal-100 dark:bg-skeal-600/20;
	@apply dark:text-skeal-200 text-skeal-600;
	@apply hover:border-skeal-600/60 hover:border;
}
